services:
  - type: web
    name: dnstracking
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn --bind 0.0.0.0:$PORT --log-level debug app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: FLASK_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: SECRET_KEY
        generateValue: true
